.border{
    border:1px #000 solid;
    background: #f0f;
}
body{
    background: #fff url("../img/bg-town2.jpg") fixed no-repeat top;
}
#MainContent{
    background: #FFFFF0;
    height: 100%;
}
footer{
    position: absolute;
    text-align: center;
    background: #00B2AE;
    border-top: 2px #009ab2 solid;
    bottom: 0;
    margin: 0;
}
footer p{
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}
.TextImg{
    float: left;
}
.TextContent{
    float:right;
}
.article{
    display: block;
    align-items: center;
    text-align: center;
    padding: 80px;
}
.ArticleImg{
    width: 700px;
    padding: 30px;
}